<!-- <div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur asperiores voluptatibus at. Error blanditiis modi eum sint fugiat, quam animi. Cupiditate dolorem magnam reprehenderit illum iure optio molestiae soluta quos!</p>
            <form class="form-inline mb-5" >
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="" id="" placeholder="Your Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="" id="" placeholder="Email Address">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur asperiores voluptatibus at. Error blanditiis modi eum sint fugiat, quam animi. Cupiditate dolorem magnam reprehenderit illum iure optio molestiae soluta quos!</p>
            <form class="custom-form-inline mb-5 mt-5">
                <div class="form-group col-md-5 shadow-effect">
                    <input type="text" class="form-control text-center" name="" id="" placeholder="Your Name">
                </div>
                <div class="form-group col-md-5 shadow-effect">
                    <input type="text" class="form-control text-center" name="" id="" placeholder="Email Address">
                </div>
                <!-- <div class="col"> -->
                    <button class="btn btn-info btn-block btn-sub">Subscribe</button>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>