<!-- <div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur asperiores voluptatibus at. Error blanditiis modi eum sint fugiat, quam animi. Cupiditate dolorem magnam reprehenderit illum iure optio molestiae soluta quos!</p>
            <form class="custom-form-inline mb-5 mt-5" #subform=ngForm>
                <div class="form-group col-md-5 shadow-effect">
                    <input type="text"
                     class="form-control text-center" 
                     name="name" id=""  
                     #Name=ngModel
                     ngModel
                     placeholder="Your Name" required
                     [ngClass]="{'is-invalid':Name.touched && Name.invalid}">

                     <div class="text-danger" *ngIf="Name.touched && Name.invalid">
                        <div class="m-3" *ngIf="Name.errors?.['required']">Name is Required</div>
                     </div>
                </div>
                <div class="form-group col-md-5 shadow-effect">
                    <input type="email" 
                    class="form-control text-center" 
                    name="email" id="" 
                    #Email=ngModel
                    ngModel
                    placeholder="Email Address" required
                    [ngClass]="{'is-invalid':Email.touched && Email.invalid}">
                    <div class="text-danger" *ngIf="Email.touched && Email.invalid" >
                        <div  *ngIf="Email.errors?.['required']">Email is Required</div>
                        <div  *ngIf="Email.errors?.['required'] ">Please Enter a valid Email Address</div>
                     </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center mt-5">
        <h3>SUBSCRIPTION FORM</h3>
        <p class="m-auto subs-text">Subscribe to our newsletter to receive the latest updates, news, and exclusive offers. Don't miss out on the exciting content we have in store for you!</p>
      </div>
        <div class="alert alert-danger text-center mt-3 p-3" *ngIf="emailAlreadyExists">Email already exists. Only one email can be used to subscribe.</div>
        <div class="alert alert-info text-center mt-3 p-3" *ngIf="isSubscriber">Thank you for  subscribing to our newsletter service. stay tuned for blog posts...</div>
    
      <div class="col-md-12 text-center">
        <form class="form-inline d-flex flex-wrap justify-content-center mt-5 mb-5" #subform="ngForm" (ngSubmit)="onSubmit(subform.value)" *ngIf="!isSubscriber">
          <div class="form-group col-md-5 shadow-effect mr-md-2 mb-2">
            <input type="text"
              class="form-control text-center"
              name="name" id=""
              #Name="ngModel"
              ngModel
              placeholder="Your Name" required
              [ngClass]="{'is-invalid': Name.touched && Name.invalid}">
  
            <div class="text-danger" *ngIf="Name.touched && Name.invalid">
              <div class="m-3" *ngIf="Name.errors?.['required']">Name is Required</div>
            </div>
          </div>
          <div class="form-group col-md-5 shadow-effect ml-md-2 mb-2">
            <input type="email"
              class="form-control text-center"
              name="email" id=""
              #Email="ngModel"
              ngModel
              placeholder="Email Address" required
              [ngClass]="{'is-invalid': Email.touched && Email.invalid}">
            <div class="text-danger" *ngIf="Email.touched && Email.invalid">
              <div *ngIf="Email.errors?.['required']">Email is Required</div>
              <div *ngIf="Email.errors?.['email']">Please Enter a valid Email Address</div>
            </div>
          </div>
          <button class="btn btn-info btn-block btn-sub col-md-10" [disabled]="subform.invalid">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  