<div class="bg-theme p-5">
    <div class="container">
        <h1 class=" text-white">General Knowledge</h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maiores, nulla dolores eos dolor quidem velit laudantium dolorem harum omnis sequi est aut magni temporibus officiis asperiores saepe aperiam placeat.</p>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>