<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inspiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sports</a>
                </li>  <li class="nav-item">
                    <a class="nav-link" href="#">Politics</a>
                </li>  <li class="nav-item">
                    <a class="nav-link" href="#">Cinema</a>
                </li>
            </ul>
        </div>
    </div>
</nav>