<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comment(15,369)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Ray</h6>
            <small class="text-danger">LAST UPDATED-FEB 27,2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa suscipit at repellendus nulla amet fuga animi corporis facilis dolorum saepe ut quis quae iusto omnis nemo voluptas, aliquam distinctio illum.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 m-3">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Ray</h6>
            <small class="text-danger">LAST UPDATED-FEB 27,2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa suscipit at repellendus nulla amet fuga animi corporis facilis dolorum saepe ut quis quae iusto omnis nemo voluptas, aliquam distinctio illum.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 m-3">View Reply</a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Ray</h6>
            <small class="text-danger">LAST UPDATED-FEB 27,2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa suscipit at repellendus nulla amet fuga animi corporis facilis dolorum saepe ut quis quae iusto omnis nemo voluptas, aliquam distinctio illum.
            </div>
            <a href="" class="mt-1">Reply</a>
            <a href="" class="mt-1 m-3">View Reply</a>
            <hr>
        </div>
    </div>
</div>