    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div class="card shadow effect" *ngIf="postData" [routerLink]="['/post',postData.id]">
                    <img class="card-img-top" src="{{postData.postImgPath}}" alt="">
                    <div class="card-body">
                        <small  class="category bg-light text-center text-danger">{{postData.category.category}}</small>
                        <small class="bg-light text-center text-success m-3" *ngIf="postData.isFeatured">Featured</small>
                        <small class="bg-light text-center text-info m-2">Views- {{postData.views}}</small>
                        <h5 class=" category mt-3">{{postData.title}}</h5>
                        <p class="">{{postData.excerpt}}</p>
                        <small class="bg-light text-center text-warning m-2">
                            LAST-UPDATED-{{ postData.cretaedAt | timestampToDate | date }}
                          </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
