    <div class="card shadow effect">
        <img class="card-img-top" src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="card-body">
            <small class="bg-light text-center text-danger">Design</small>
            <small class="bg-light text-center text-success m-3">Featured</small>
            <small class="bg-light text-center text-info m-2">Views-100,256</small>

            <h5 class="mt-3">HOW TO START A NEW BLOG IN 2023 EDITED NEW CATEGORY</h5>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro repudiandae molestiae harum, vel ipsam doloremque odio iusto autem minima aliquam beatae quidem quia. Impedit iste libero et rerum sit!</p>
            <small class="bg-light text-center text-warning m-2">LAST UPDATED-FEB 24,2023</small>
        </div>
    </div>